<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- <add key="Path" value="C:\Users\Gut\OneDrive - GF Industrietechnik GmbH\Desktop\PS"/> -->
		<add key="Path" value="C:\Users\mg\OneDrive\Desktop\PS"/>
		
		<add key="PSFileServer" value="JA"/>
		<add key="PSFileClient" value="NEIN"/>

		<add key="StartAutomatic" value="NEIN"/>
		
		
	</appSettings>
</configuration>